#banner {
  background-image: url('./images/nav_farrah.png');
  background-size: content;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100px;
  margin-top:-13px;
  padding-top:0px;

  padding:0;
  top: 0;
  left: 0;

}


body {
  font-family: Arial, sans-serif;
}


.navbar-default {
  margin-top: 73px;
  margin-left: 100px;
  width: 100%;
  background-color: #E5E2DB;
  width: 987px;

}


.intro {
  margin-left: 120px;
}

#content {
  font-family: Arial, sans-serif;
  margin-top: -10px;
  margin-left: 100px;
  margin-right: 100px;
  color: #524942;

}


h3 {
  padding-bottom: 15px;
  color: #524942;
  font-family: Arial, sans-serif;
}

h4 {
  padding-bottom: 8px;
  font-family: Arial, sans-serif;
  color: #524942;
}

h5 {
  padding-bottom: 8px;
  font-family: Arial, sans-serif;
  color: #524942;
}
p {
  color: #524942;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.todo-header {
  background-color: #E5E2DB;
  color: #524942;
  font-family: Arial, sans-serif;
  font-size: 18px;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
}

#name {
  color: #524942;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#upload-type {
  color: #524942;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#upload {
  margin-left: 100px;
}

.progressbar {
  margin-left: 300px;
}

.bs-wizard {margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard { padding: 0 0 10px 0; ;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


hr {
  width: 100%;
  margin-left: -125px;

}